@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
@import "tailwindcss";

@theme {
	--font-sans: "Outfit", sans-serif;

	--color-zen-bg: #000000;
	--color-zen-surface: #09090b;
	--color-zen-primary: #22c55e;
	--color-zen-accent: #4ade80;
	--color-zen-error: #ef4444;

	--color-zen-text: #fafafa;
	--color-zen-text-muted: #a1a1aa;

	--color-zen-btn-primary: #22c55e;
}

@layer base {
	body {
		@apply bg-zen-bg text-zen-text antialiased;
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}
}

@layer utilities {
	.glass {
		@apply bg-zen-surface/40 backdrop-blur-xl border border-white/5;
	}
}
